<!DOCTYPE html>

<html>

   <head>
      <title>Useful programmer portfolio App</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>Useful programmer portfolio App</h2>
        <ul>
          <li><a href="/timestamp">Timestamp Microservice</a></li>
          <li><a href="/requestHeaderParserMicroservice">Request Header Parser Microservice</a></li>
          <li><a href="/URLShortenerMicroservice">URL Shortener Microservice</a></li>
        </ul>
      </div>
   </body>

</html>
